In [1]:
from shs_identification import *
import numpy as np
import pandas as pd

In [2]:
shs_characteristics = pd.DataFrame(
    {'price[$]': pd.Series([], dtype=float),
    'capacity[Wh]': pd.Series([], dtype=np.dtype(float)),
    'max_power[W]': pd.Series([], dtype=np.dtype(float))
    }
)

shs_characteristics.loc[shs_characteristics.shape[0]] = [10, 100, 5]
shs_characteristics.loc[shs_characteristics.shape[0]] = [20, 200, 15]
shs_characteristics.loc[shs_characteristics.shape[0]] = [100, 1000, 500]

shs_characteristics

   price[$]  capacity[Wh]  max_power[W]
0      10.0         100.0           5.0
1      20.0         200.0          15.0
2     100.0        1000.0         500.0

In [81]:
from shs_identification import *
import numpy as np
import pandas as pd
nodes_df = pd.DataFrame(
                     {
                         'label':
                            pd.Series(
                             ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
                             dtype=str),
                         'x_coordinate':
                            pd.Series([0, 0, 1, 2, 3, 0, 4, 4, 4],
                                      dtype=np.dtype(float)),
                         'y_coordinate':
                            pd.Series([0, 1, 1, 0, 1, 2, 1, 0, 2],
                                      dtype=np.dtype(float)
                            ),
                         'required_capacity':
                            pd.Series([3, 6, 10, 2, 5, 15, 20, 10, 5],
                                      dtype=np.dtype(float)
                            ),
                         'max_power':
                            pd.Series([3, 6, 200, 2, 50, 20, 4, 2, 5], dtype=np.dtype(float))


                     }
                 ).set_index('label')

In [82]:
nodes_df

       x_coordinate  y_coordinate  required_capacity  max_power
label
a               0.0           0.0                3.0        3.0
b               0.0           1.0                6.0        6.0
c               1.0           1.0               10.0      200.0
d               2.0           0.0                2.0        2.0
e               3.0           1.0                5.0       50.0
f               0.0           2.0               15.0       20.0
g               4.0           1.0               20.0        4.0
h               4.0           0.0               10.0        2.0
i               4.0           2.0                5.0        5.0

In [83]:
links_df = mst_links(nodes_df)

In [84]:
links_df

       node_a node_b  distance
label
(b, a)      b      a  1.000000
(c, b)      c      b  1.000000
(d, c)      d      c  1.414214
(e, d)      e      d  1.414214
(f, b)      f      b  1.000000
(g, e)      g      e  1.000000
(h, g)      h      g  1.000000
(i, g)      i      g  1.000000

In [85]:
number_of_connections = {}

for node in nodes_df.index:
    number_of_connections[node] = count_number_of_connections(node, links_df)

In [86]:
number_of_connections

{'a': 1, 'b': 3, 'c': 2, 'd': 2, 'e': 2, 'f': 1, 'g': 3, 'h': 1, 'i': 1}

In [87]:
leaves_nodes = [node for node in number_of_connections.keys() if number_of_connections[node] == 1]

In [88]:
links_df

       node_a node_b  distance
label
(b, a)      b      a  1.000000
(c, b)      c      b  1.000000
(d, c)      d      c  1.414214
(e, d)      e      d  1.414214
(f, b)      f      b  1.000000
(g, e)      g      e  1.000000
(h, g)      h      g  1.000000
(i, g)      i      g  1.000000

In [89]:
links_df['price_shs_cluster_a'] = [-1] * links_df.shape[0]
links_df['price_shs_cluster_b'] = [-1] * links_df.shape[0]

links_df['price_cables_cluster_b'] = [-1] * links_df.shape[0]
links_df['price_cables_cluster_b'] = [-1] * links_df.shape[0]

In [90]:
links_df

,node_a,node_b,distance,price_shs_cluster_a,price_shs_cluster_b,price_cables_cluster_b
label,,,,,,
"(b, a)",b,a,1.000000,-1,-1,-1
"(c, b)",c,b,1.000000,-1,-1,-1
"(d, c)",d,c,1.414214,-1,-1,-1
"(e, d)",e,d,1.414214,-1,-1,-1
"(f, b)",f,b,1.000000,-1,-1,-1
"(g, e)",g,e,1.000000,-1,-1,-1
"(h, g)",h,g,1.000000,-1,-1,-1
"(i, g)",i,g,1.000000,-1,-1,-1

In [91]:
for link_index, link_row in links_df.iterrows():
    links_df_cluster_a = links_df.copy()
    links_in_cluster_a = []
    nodes_in_cluster_a = []

In [92]:
nodes_df

       x_coordinate  y_coordinate  required_capacity  max_power
label
a               0.0           0.0                3.0        3.0
b               0.0           1.0                6.0        6.0
c               1.0           1.0               10.0      200.0
d               2.0           0.0                2.0        2.0
e               3.0           1.0                5.0       50.0
f               0.0           2.0               15.0       20.0
g               4.0           1.0               20.0        4.0
h               4.0           0.0               10.0        2.0
i               4.0           2.0                5.0        5.0

In [93]:
node_n = 'node0'
node_n_minus_1 = 'node'

In [94]:
links_df.sum()['distance']

8.82842712474619

In [95]:
nodes_df['shs_price'] = [unitarian_disconnection_price(node_index=node, nodes_df=nodes_df, shs_characteristics=shs_characteristics) for node, y in nodes_df.iterrows()]

In [96]:
[unitarian_disconnection_price(node_index=node, nodes_df=nodes_df, shs_characteristics=shs_characteristics) for node, y in nodes_df.iterrows()]

[10.0, 20.0, 100.0, 10.0, 100.0, 100.0, 10.0, 10.0, 10.0]

In [97]:
nodes_df

       x_coordinate  y_coordinate  required_capacity  max_power  shs_price
label
a               0.0           0.0                3.0        3.0       10.0
b               0.0           1.0                6.0        6.0       20.0
c               1.0           1.0               10.0      200.0      100.0
d               2.0           0.0                2.0        2.0       10.0
e               3.0           1.0                5.0       50.0      100.0
f               0.0           2.0               15.0       20.0      100.0
g               4.0           1.0               20.0        4.0       10.0
h               4.0           0.0               10.0        2.0       10.0
i               4.0           2.0                5.0        5.0       10.0

In [117]:
def remove_branch(current_node, branches_to_remove, links_df, nodes_in_branch):
    for branch_node in branches_to_remove:
        if branch_node not in nodes_in_branch:
            nodes_in_branch.append(branch_node)
    if len(branches_to_remove) == 0:
        print(f'exit loop cause node {current_node} is a leaf')
        return nodes_in_branch
    
    for node in branches_to_remove:
        neighbors = neighoring_nodes(
            node_index=node,
            links_df=links_df)
        print(f"neighbors nodes: {neighbors}")
        downstream_nodes = [node for node in neighbors if (node != current_node and node not in nodes_in_branch)]
        nodes_in_branch += downstream_nodes
        print(f"downstream nodes: {downstream_nodes}")
        return remove_branch(node, downstream_nodes, links_df, nodes_in_branch)
    print(f'nodes_in_branch: {nodes_in_branch}\n')

In [120]:
from_node = 'b'
branches_to_remove = 'c'
nodes_in_branch = []

res = remove_branch(from_node, branches_to_remove, links_df, nodes_in_branch)

neighbors nodes: ['d', 'b']
downstream nodes: ['d']
neighbors nodes: ['e', 'c']
downstream nodes: ['e']
neighbors nodes: ['d', 'g']
downstream nodes: ['g']
neighbors nodes: ['e', 'i', 'h']
downstream nodes: ['i', 'h']
neighbors nodes: ['g']
downstream nodes: []
exit loop cause node i is a leaf

In [121]:
res

['c', 'd', 'e', 'g', 'i', 'h']

In [ ]:
neighoring_nodes('node0', links_df)

In [ ]:
def rep_node(node, list_of_node, links_df):
    for neighbor in neighoring_nodes(node, links_df):
        
        print(neighbor)
        rep_node(neighbor)

In [ ]:
rep_node('node0')

In [47]:
l = [1, 2]

In [48]:
l += [2, 3]

In [49]:
l

[1, 2, 2, 3]